* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

p {
    font-family: 'Montserrat', sans-serif;
}

h3, h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

#showMenu:hover {
    cursor: pointer;
}


.wrap {
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    backdrop-filter: blur(16px);
    overflow: hidden;
}

@keyframes scroll_left {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-100%);
    }
}

#images {
    display: inline-flex;
    gap: 40px;
    animation: scroll_right 10s linear infinite;
    will-change: transform;
}

@keyframes scroll_right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

#menu {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    list-style: none;
    gap: 70px;
    padding-right:40px;
    margin-bottom:20px;
}

ul {
    float: right;
}

a {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
}

h1 {
    font-family: sans-serif;

}

#Me {
    border: solid black 10px;
    border-radius: 500px;
    float: right;
}

#projects {
    list-style-type: none;
}

.flex {
    padding-top: 3vh;
    display: flex;
    width: 100%;
}

.about-me {
    width: 50%;
    animation: fade-left 2s;
    font-size: 1rem;
    border: double 2px;
    border-radius: 14px;
    padding: 10px;
    backdrop-filter: blur(6px);
    font-family: sans-serif;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    font-weight: 450;
    line-height: 1.6;
}

.introduction {
    width: 50%;
    animation: fade-right 1.3s ease-out;
    background: rgba(0, 0, 0, 0.35);
    padding: 20px;
    border-radius: 18px;
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
