*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("IMG/Background.png");
}
#showMenu{
    background-image: url("IMG/Menu.svg");
    height: 5vh;
    width: 5vh;
    background-color: black;
    border:none;
    background-size: cover;
    background-repeat: no-repeat;
}
#showMenu:hover{
    cursor:pointer;
}

.IDE{


}
.logos{
    background-color:#2E294E;
    border-width: 1px;
    border-color: #2E294E;
    border-top: solid;
}
#IDE{
border-top: solid;
border-color: white;
}
#languages{
    border-bottom: solid;
    border-color: white;
}

#menu{
    color: white;
    background-color: black;
    height: 50vh;
    width:10vh;
}
a{
    font-family: Calibri,sans-serif;
    font-size: 3vh;
    text-decoration: none;
    color: white;

}