* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

h3 {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url("IMG/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#showMenu {
    background-image: url("IMG/Menu.svg");
    height: 5vh;
    width: 5vh;
    background-color: black;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
}

#showMenu:hover {
    cursor: pointer;
}

.logos {
    animation: fade-up 3s;
}

.wrap {
    width: 100%;
    border-top: solid;
    border-bottom: solid;
}


#IDE {
    animation: scroll_left 15s infinite;
}

#languages {
    animation: scroll_right 10s infinite;
}

@keyframes scroll_left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes scroll_right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(100%);
    }
}

#menu {
    display: flex;
    gap: 10px;
    list-style: none;
    background-color: black;
    transition: ease-in-out 0.3s;
    position: absolute;
}

a {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    text-decoration: none;
    color: white
}

h1 {
    font-family: Calibri, sans-serif;

}

#Me {
    border: solid black 10px;
    border-radius: 500px;
}

.flex {
    padding-top: 3vh;
    display: flex;
    width: 100%;
}

.about-me {

    width: 50%;
    animation: fade-left 2s;
}

.introduction {
    width: 50%;
    animation: fade-right 2s;
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }

}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
