* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;

}

p {
    font-family: 'Montserrat', sans-serif;
}

h3, h2 {
    font-family: 'Montserrat', sans-serif;
}


body {
    min-height: 100vh;
}

#showMenu:hover {
    cursor: pointer;
}


.wrap {
    margin-top: 20px;
    width: 100%;
    align-items: center;
    border-top: solid;
    border-bottom: solid;
}

@keyframes scroll_left {
    from {
        transform: translateX(10%);
    }
    to {
        transform: translateX(-100%);
    }
}

#images {
    display: inline-flex;
    gap: 40px;
    animation: scroll_right 30s linear infinite;
    will-change: transform;

}

@keyframes scroll_right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

nav {
    width: 100%;
    display: flex;
    gap: 40px;
}

/*Never used these before,they are very useful*/
.links {
    margin-top: 10px;
    margin-left: 30px;
    background-color: #0D3B66;
    color: white;
    border: none;
    padding: 12px;
    width: 10%;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    box-shadow: 0 0 15px rgba(13, 65, 225, 0.6);
}

.links:hover {
    border: 2px solid white;
    transform: scale(1.1);
}

.links:active {
    background-color: white;
    color: dodgerblue;
}


a {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    text-decoration: none;
}


h1 {
    font-family: sans-serif;

}


#projects {
    list-style-type: none;
}

#projects li{
    background-color: #0D3B66;
    margin: 10px;
    border-radius: 10px;
    padding:20px;
}
#projects li:hover{
    transform: translateY(-1%);
    border: 2px solid white;
}

.flex {
    flex-direction: column;
    gap: 60px;
    width: 80%;
    margin: 0 auto;

}

.about-me, .introduction {
    font-size: 1rem;
    padding: 10px;
    backdrop-filter: blur(6px);
    font-family: sans-serif;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    font-weight: 450;
    line-height: 1.6;
}

.introduction {
    animation: fade-right 1.3s ease-out;
    margin-right: 5vh;
}

.about-me {
    animation: fade-left 1.3s ease-out;
}

@keyframes fade-left {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
